/*
==========================================================
NDOW Volunteer Portal
Login Background
==========================================================
*/

.login-background{

    position:absolute;

    inset:0;

    background-repeat:no-repeat;

    background-position:center center;

    background-size:cover;

    opacity:1;

    z-index:1;

    transition:opacity .8s ease;

}

.login-overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.18);

    z-index:2;

}
