/*
==========================================================
NDOW Volunteer Portal
Login Background
==========================================================
*/

.login-background{

    position:absolute;

    inset:0;

    background-repeat:no-repeat;

    background-position:center center;

    background-size:cover;

    opacity:0;

    transition:opacity .8s ease-in-out;

    z-index:1;

    will-change:opacity;

}

.login-overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.24);

    z-index:2;

    pointer-events:none;

}
