/*
==========================================================
NDOW Volunteer Portal
Login Layout
==========================================================
*/

.login-screen{

    position:fixed;
    inset:0;

    background:#000;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:20px;

    z-index:100000;

}
